<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8"><h2>Add Action and its content in French and Arabic</h2>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="gtks" *ngIf="gtksList">
      <table class="table">
        <thead class="h">
        <tr class="h">
          <th class="h">Action</th>
          <th class="h">French content</th>
          <th class="h">Arabic content</th>
        </tr>
        </thead>
        <tbody>
        <tr class="gtk" (dblclick)="editGTK(gtk)" *ngFor="let gtk of gtksList">

          <ng-container *ngIf="!editGTKs.includes(gtk); else editTD">
            <td>{{gtk.action}}</td>
            <td>{{gtk.fr_content}}</td>
            <td>{{gtk.ar_content}}</td>
          </ng-container>

          <ng-template #editTD>
            <td><input type="text" name="action" id="action" (keypress)="submitGTK($event, gtk)" [(ngModel)]="gtk.action" placeholder="Action" class="form-control"></td>
            <td><input type="text" name="fr_content" id="fr_content" (keypress)="submitGTK($event, gtk)" [(ngModel)]="gtk.fr_content" placeholder="French content"
                       class="form-control"></td>
            <td><input type="text" name="ar_content" id="ar_content" (keypress)="submitGTK($event, gtk)" [(ngModel)]="gtk.ar_content" placeholder="Arabic content"
                       class="form-control"></td>
          </ng-template>

          <td class="o">
            <button class="btn btn-primary" (click)="editGTK(gtk)">
              <i  class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteGTK(gtk)">
              <i  class="fa fa-trash"></i>
            </button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-2">
          <input type="text" name="action" id="action" [(ngModel)]="newGTK.action" placeholder="Action" class="form-control">
        </div>
        <div class="col-md-4">
          <input name="fr_content" id="fr_content" [(ngModel)]="newGTK.fr_content" placeholder="French content" class="form-control">
        </div>
        <div class="col-md-4">
          <input name="ar_content" id="ar_content" [(ngModel)]="newGTK.ar_content" placeholder="Arabic content" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2">

  </div>
</div>
